.cardOuter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.cardHolder {
    max-width: var(--maxWidth);
    max-height: 760px;
    color: var(--white);
    background-color: var(--primary);
    box-shadow: var(--bs);
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
}

.image {
    width: 100%;
    aspect-ratio: 3/2;
    object-fit: cover;
    object-position: center;
}

.contentHolder {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name {
    font-size: 1.6rem;
}

.tag {
    background: var(--white);
    border-radius: 0.6rem 0;
    padding: 0.4rem 0.8rem;
    color: var(--primary);
}

.logoHolder {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 80px;
    background-color: var(--white);
    padding: 0.2rem 0 0.2rem 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.33rem 0;

}

.logo {
    width: 100%;
    height: 100%;
}