
.imageHolder {
    width: 100%;
    aspect-ratio: 3/2;
    border-radius: 1rem;
    margin-top: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    color: var(--primary);
}

.imageHolder img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.buttonsHolder {
    position: absolute;
    bottom: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}